.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .header div{
    display: flex;
    align-items: center;
  }
  
  .header img{
    height: 20px;
    width: 60px;
  }
  
  .header span{
    font-weight: bold;
  }
  
  .header input {
    color:black;
    padding: 5px 5px;
    border: solid 1px white;
    width: 100%;
  }
   
  .header .header-left span{
    padding-right: 10px;
  }
    
  .header .header-center .mike-icon{
    margin-left: 5px;
  }
  .header .header-center .search-icon{
    padding: 0px 4px;
    border: solid 1px white
  }
  
  .header .header-left {
    flex: .3;
    cursor: pointer;
  }
  
 
.header .header-left {
  flex: .3;
}
.header .header-center{
  flex: .4;
}
.header .header-right {
  flex: .3;
  justify-content: flex-end;
}
  
  .header .header-left span{
    padding-right: 10px;
  }
    
  .header .header-center .mike-icon{
    margin-left: 5px;
  }
  .header .header-center .search-icon{
    padding: 4px;
    border: solid 1px white
  }
  .header .header-right {
    margin-right: 15px;
  }
  .header .header-right .material-icons-outlined{
    cursor: pointer;
    padding-left: 15px;
  }